/*mycss_web.css*/
#body_style{
  background-color: #000000;
  color: #ff71ce;
  text-align: left;
  font-family: 'Futura';
  font-size: 1.5em;
}

#paragraph_style{
  border: 4px double #ff00c1;
  padding: 5px;
}

h1{
  color: #fff;
  text-align: center;
}

ul.a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

input[type=text]{
  width: 30%;
  border: 3px solid #ff00c1;
  margin: 2px;
  padding: 10px;
  display:inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}

span.a{
  color:#ff0000;
}

label{
  font-size: 75%;
  margin: 4px;
}

input[type=submit]{
  width: 10%;
  background-color: #ff00c1;
  color: #fff;
  padding: 10px;
  margin-left: 50px;
  border-radius: 5px;
  cursor:pointer;
}

input[type=submit]:hover{
  background-color: #ff7fe0;
}

li a.a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.a{
  display: block;
  color: #ffff;
}
a.a:hover{
  background-color: #111;
}

li a.a:hover {
  background-color: #111;
}

.aboutme_table>table{
  border: 3px solid white;
  border-collapse:collapse;
  width: 60%;
}

.aboutme_table>table th, .aboutme_table tr{
  border: 1px solid white;
  padding: 4px;
  text-align: center;
  background-color: #b967ff;
  color: #01cdfe;
}

.aboutme_table>table td{
  background-color: #fffb96;
}

.aboutme_table>table td:hover{
  background-color: #05ffa1;
  color: #b967ff;
}

@media print {
  .screen_only{
    display: none;
  }
}
